
<div class="row mt-3">
	<div class="col-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-12">
                    <button [disabled]="!recipeForm.valid" type="submit" class="btn btn-success m-1">Save</button>
                    <button type="button" class="btn btn-warning">Cancel</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control"
                        >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="imagePath">Image url</label>
                        <input
                                type="text"
                                id="imagePath"
                                formControlName="imagePath"
                                class="form-control"
                        >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <img src="" alt="" class="img-thumbnail">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea
                                type="text"
                                id="description"
                                formControlName="description"
                                class="form-control"
                                rows="6"
                        >

                        </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-3" formArrayName="ingredients">
                    <div
                            *ngFor="let ingredientCtrl of controls; let i = index; let isLast = last"
                            class="row mt-3"
                            [formGroupName]="i"
                            [ngClass]=" isLast? 'mb-3' : ''"
                    >
                        <div class="col-sm-8">
                            <input formControlName="name" type="text" class="form-control">
                        </div>
                        <div class="col-sm-2">
                            <input  formControlName="amount" type="text" class="form-control">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger">X</button>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-12">
                        <button (click)="onAddIngredient()" class="btn btn-success">Add Ingredient</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
